@page "{idCliente:int}"
@model CrearModel
@using Dominio;
@{

}


<div class="row d-flex justify-content-center">
    <form class="col-6" method="post">
        <!--Method post sirve para que no se vea la informacion en la url-->
       <div class="mb-3">
             <label class="form-label">ID Cliente</label>
             <input type="text" class="form-control" asp-for="Cliente.IdCliente" disabled>
             <input type="hidden" asp-for="Cliente.IdCliente" /> 
       </div>

         <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="Cliente.Nombre" disabled>
         </div>



        <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.Nombre" class="form-label">Nombre Evento</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.Nombre" required>
        </div>

          <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.NombreEmpresa" class="form-label">Nombre Empresa</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.NombreEmpresa" required>
        </div>

      

        <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.Ubicacion" class="form-label">Ubicacion</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.Ubicacion" required>
        </div>

        <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.CantidadAsistentes" class="form-label">CantidadAsistentes</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.CantidadAsistentes" required>
        </div>


        <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.FechaRealizacion" class="form-label">Fecha Realizacion</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.FechaRealizacion" required>
        </div>


        <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.FechaFinalizacion" class="form-label">FechaFinalizacion</label>
            <input type="text" class="form-control" asp-for="NuevoEventoCorporativo.FechaFinalizacion" required>
        </div>


      
        <div class="form-check">
            <input asp-for="NuevoEventoCorporativo.RequiereEquipamientoTecnologico" class="form-check-input" />
            <label class="form-check-label" asp-for="NuevoEventoCorporativo.RequiereEquipamientoTecnologico">Requiere Equipo</label>
        </div>

         <div class="mb-3">
            <label asp-for="NuevoEventoCorporativo.Estado" class="form-label">Estado</label>
                                                                                  
            <select class="form-control" asp-for="NuevoEventoCorporativo.Estado" asp-items='@Html.GetEnumSelectList<EstadoEvento>()' required>
                <option > --Selecionar-- </option>
                        
            </select>
           
        </div>


        <button type="submit" class="btn btn-primary">Agregar</button>


    </form>
</div>
